<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Sign up</title>
</head>

<body>
<div class="signup">
    <div class="signup-screen">
        <div class="app-title">
            <h1>Đăng kí</h1>
        </div>

        <div class="signup-form">
            <div class="control-group">
                <input type="text" class="signup-field" value="" placeholder="Tên tài khoản" id="signup-name">
                <label class="signup-field-icon fui-user" for="signup-name"></label>
                <p class="error">Vui lòng điền tên tài khoản!</p>
            </div>

            <div class="control-group">
                <input type="text" class="signup-field" value="" placeholder="Email" id="signup-name">
                <label class="signup-field-icon fui-user" for="signup-name"></label>
                <p class="error"></p>
            </div>

            <div class="control-group">
                <input type="text" class="signup-field" value="" placeholder="Mật khẩu" id="signup-name">
                <label class="signup-field-icon fui-user" for="signup-name"></label>
                <p class="error"></p>
            </div>

            <div class="control-group">
                <input type="password" class="signup-field" value="" placeholder="Nhập lại mật khẩu" id="signup-pass">
                <label class="signup-field-icon fui-lock" for="signup-pass"></label>
                <p class="error"></p>
                <p class="success">Đăng kí thành công!</p>
            </div>

            <a class="btn btn-primary btn-large btn-block" href="#">Đăng kí</a>
            <a class="signup-link" href="#">Bạn đã có tài khoản?</a>
        </div>
    </div>
</div>
</body>

</html>