<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Manager</title>
    <link rel="stylesheet" href="fundInfo.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</head>

<body>
<header class="fixed-top">
    <div class="header-top"></div>
    <div class="header-content d-flex">
        <div class="back-button mr-auto">
            <i class="fas fa-chevron-left"></i>
        </div>
    </div>

</header>

<div style="height: 70px;"></div>

<section class="info-of-fund" style="padding: 10px 15px;">
    <h1 class="info-of-fund--name">Quỹ lớp</h1>
    <p class="info-of-fund--date">Tạo ngày 31/5/2020</p>
    <p class="info-of-fund--owner">Quản lý: Nguyễn Văn A</p>
    <p class="info-of-fund--note">Ghi chú:</p>
</section>
<div style="height: 3px; background-color: rgb(179, 176, 176); box-shadow: 1px 0px 2px rgb(109, 108, 108);"></div>
<section class="my-3 p-3 bg-white rounded box-shadow member-list">
    <h6 class="border-bottom border-gray pb-2 mb-0">Danh sách thành viên</h6>
    <div class="media member-item" data-toggle="modal" data-target="#exampleModalCenter">
        <img src="./images/blue.svg">
        <p class="media-body small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Trang Trịnh</strong>
        </p>
    </div>
    <div class="media member-item" data-toggle="modal" data-target="#exampleModalCenter">
        <img src="./images/pink.svg">
        <p class="media-body small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Phương Nguyễn</strong>
        </p>
    </div>
    <div class="media member-item" data-toggle="modal" data-target="#exampleModalCenter">
        <img src="./images/violet.svg">
        <p class="media-body small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Óc chó</strong>
        </p>
    </div>
</section>
<!-- Details transaction popup -->
<div class="modal fade small" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết giao dịch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table borderless">
                    <tbody>
                    <tr>
                        <td><strong>Tên</strong></td>
                        <td>Trịnh Trang</td>
                    </tr>
                    <tr>
                        <td><strong>Số điện thoại</strong></td>
                        <td>0978924372</td>
                    </tr>
                    <tr>
                        <td><strong>Giới tính</strong></td>
                        <td>Nữ</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>trinhtrang27112000@gmail.com</td>
                    </tr>
                    <tr>
                        <td><strong>Ngày tham gia</strong></td>
                        <td>Thứ 7 30-5-2020</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button btn-sm" class="btn btn-danger" data-dismiss="modal">Xóa</button>
                <button type="button btn-sm" class="btn btn-primary">Chuyển quyền</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="add-member-btn btn btn-primary rounded-circle" data-toggle="modal"
        data-target="#exampleModal">
    <i class="fas fa-plus"></i>
</button>

<!-- add member popup -->
<div class="modal fade small" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm thành viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" class="form-control" id="name" placeholder="Tên người dùng">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary btn-sm">Thêm</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>