<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../../css/fund.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Money Manager</title>
</head>

<body>
<header class="fixed-top">
    <div class="header-top"></div>
    <div class="header-content d-flex">
        <div class="back-button mr-auto">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="dropdown">
            <span class="fund-name">Quỹ của tôi</span>
            <span id="drop-menu-btn" class="drop-menu"><i class="fas fa-chevron-down"></i></span>
        </div>
    </div>
    <div id="dropdown-content" class="list-group dropdown-content fixed-top border rounded-bottom"
         style="display: none;">
        <div class="container">
            <div class="row border-bottom">
                <a th:href="${'../'}">
                    <div class="col-3 col-sm">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="col col-sm">
                        Thông tin quỹ
                    </div>
                </a>
            </div>
            <div id="leave-fund" class="row border-bottom">
                <div class="col-3 col-sm">
                    <i class="fas fa-user-slash"></i>
                </div>
                <div class="col col-sm">
                    Rời khỏi quỹ
                </div>
            </div>
            <div id="delete-fund" class="row">
                <div class="col-3 col-sm">
                    <i class="far fa-trash-alt"></i>
                </div>
                <div class="col col-sm">
                    Xóa quỹ
                </div>
            </div>
        </div>
    </div>
</header>

<div style="height: 127.4px;"></div>

<section class="list-trans">
    <div th:each="trans: ${transactions}">
        <div class="trans-item" data-toggle="modal" data-target="#exampleModalCenter" th:attr="data-id=${trans.getTransactionId()}">
            <div class="overview">
                <div class="time" th:text="${trans.getDateOfCreation()}"></div>
                <div class="money" th:text="${trans.getAmountOfMoney()}"></div>
            </div>
            <div class="title" th:text="${trans.getName()}"></div>
        </div>
    </div>
</section>
<div class="modal fade small" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết giao dịch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">Mục</th>
                        <th scope="col">Nội dung</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Tên</td>
                        <td id="detail-name"></td>
                    </tr>
                    <tr class="table-primary">
                        <td>Loại giao dịch</td>
                        <td id="detail-type"></td>
                    </tr>
                    <tr>
                        <td>Số tiền</td>
                        <td id="detail-money"></td>
                    </tr>
                    <tr class="table-primary">
                        <td>Ghi chú</td>
                        <td id="detail-note"></td>
                    </tr>
                    <tr>
                        <td>Ngày</td>
                        <td id="detail-date"></td>
                    </tr>
                    <tr class="table-primary">
                        <td>Người tạo</td>
                        <td id="detail-actor"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div style="height: 30px;"></div>

<section class="fixed-bottom function-bar">
    <button type="button" class="btn btn-primary btn-sm ml-3 mr-2" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo">Thêm</button>
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#filrerModal">
        Lọc
    </button>
    <div style="height: 70px;"></div>

</section>

<!-- Create transaction form -->
<div class="modal fade small" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Giao dịch mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-transaction">
                    <div class="form-group mb-1">
                        <label for="name" class="col-form-label">Tên giao dịch:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group mb-1">
                        <label for="amountOfMoney" class="col-form-label">Số tiền:</label>
                        <input class="form-control" id="amountOfMoney" name="amountOfMoney">
                    </div>
                    <div class="form-group mb-1">
                        <label for="type" class="col-form-label">Loại giao dịch:</label>
                        <input type="text" class="form-control" id="type" name="type">
                    </div>
                    <div class="form-group mb-1">
                        <label for="note" class="col-form-label">Mô tả:</label>
                        <input type="text" class="form-control" id="note" name="note">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm">Tạo mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var timeForm = $(".time-filter");
    var actorForm = $(".actor-filter");
    var typeForm = $(".type-filter");

    var timeLink = $("#time-box-link");
    var actorLink = $("#actor-box-link");
    var typeLink = $("#type-box-link");

    typeForm.hide();
    actorForm.hide();
    timeLink.click(function () {
        if (typeLink.hasClass("active")) {
            typeForm.fadeOut(100);
            typeLink.removeClass("active");
        } else {
            actorForm.fadeOut(100);
            actorLink.removeClass("active");
        }
        timeForm.delay(100).fadeIn(100);
        timeLink.addClass("active");
    });

    typeLink.click(function () {
        if (timeLink.hasClass("active")) {
            timeForm.fadeOut(100);
            timeLink.removeClass("active");
        } else {
            actorForm.fadeOut(100);
            actorLink.removeClass("active");
        }
        typeForm.delay(100).fadeIn(100);
        typeLink.addClass("active");
    });

    actorLink.click(function () {
        if (typeLink.hasClass("active")) {
            typeForm.fadeOut(100);
            typeLink.removeClass("active");
        } else {
            timeForm.fadeOut(100);
            timeLink.removeClass("active");
        }
        actorForm.delay(100).fadeIn(100);
        actorLink.addClass("active");
    });
    var btnDown = $('#drop-menu-btn').click(function(){
        var content = $('#dropdown-content')
        if(content.css('display') === 'none'){
            content.css('display', 'block')
        } else{
            content.css('display', 'none')
        }
    })
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script th:src="@{../../js/fundBehavior/DeleteFundRequest.js}"></script>
<script th:src="@{../../js/memberBehavior/LeaveFundRequest.js}"></script>
<script th:src="@{../../js/transactionBehavior/CreateTransactionRequest.js}"></script>
<script th:src="@{../../js/transactionBehavior/GetTransactionInfoRequest.js}"></script>
<script th:src="@{../../js/fund.js}"></script>
</body>

</html>